
name: Example SCANOSS Action

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write
  checks: write
  actions: read

jobs:
  scanoss-analysis:
    name: SCANOSS Analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        id: checkout
        uses: actions/checkout@v4

      - name: Run SCANOSS analysis
        id: scan
        uses: scanoss/actions-scan@feature/mdaloia/SP-2876-Add-support-for-exporting-CDX-files-into-DependencyTrack
        with:
          policies: copyleft, undeclared
          dependencytrack.enabled: true
